h2 {
  background-color: aqua;
}
p {
  background-color: yellow;
}
a {
  background-color: rosybrown;
}
span {
  background-color: lightgreen;
}
center {
  background-color: lightcoral;
}

div{
    background-color: lightblue;
}
